<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oauth pkce</title>
    <style>
        body {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-top: 30px;
        }
        .user {
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 5px;
            margin: 5px 0;
        }
        .user:hover {
            background-color: #e0e0e0;
        }
        .user.selected {
            background-color: #d0d0ff;
        }
        span {
            margin-left: 10px;
        }
        span.avatar {
            background-color: #ccc;
            border-radius: 50%;
            padding: 5px;
            margin-right: 5px;
        }

        #online {
            background-color: green;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <h3>Welcome!</h3>
    <div id="app">
        <header style="display: flex; gap: 10px; justify-content: space-between;">
            <div style="display: flex; gap: 20px;">
                <router-link to="/">Home</router-link>
                <router-link to="/chat" v-if="$store.getters.isLoggedIn">Chat</router-link>
            </div>
            <div style="display: flex; gap: 10px;">
                <span v-if="$store.getters.isLoggedIn">Welcome, {{ $store.getters.me?.username }}</span>
                <router-link to="/logout" v-if="$store.state.isLoggedIn">Logout</router-link>
                <router-link to="/login" v-else>Login</router-link>
            </div>
        </header>
        <hr/>
        <router-view></router-view>
        <footer style="text-align: right;margin-top: 20px;">
            <hr/>
            <small>&#169; all right reserved!</small>
        </footer>
    </div>
    <template id="chat-template">
        <div>
            <p v-if="e" style="color: red;">{{ e }}</p>
            <div v-if="flashMessages.length > 0" style="color: blue; border: 1px solid gray; border-radius: 5px; padding: 5px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p v-for="(msg, index) in flashMessages" :key="index">
                    {{ msg.event }}: {{ msg.payload }}
                </p>
            </div>
            <section v-if="selectedUser">
                <div style="display: flex; flex-direction: column; background-color: lightgray; border-radius: 5px; padding: 5px;">
                    <h3>{{ selectedUser.username }}</h3>
                    <small>Email: {{ selectedUser.email }}</small><br/>
                    <small>Phone: {{ selectedUser.phone }}</small>
                    <p style="color: blue;cursor: pointer;" @click="selectedUser = null">back</p>
                </div>
                <hr/>
                
                <div style="display: flex; gap: 5px; justify-content: center; flex-direction: column; border: 1px solid #ccc; border-radius: 25px; padding: 50px;">
                    <template v-for="im in selectedUser.messages">
                        <!-- my own message-->
                        <p v-if="im.from === $store.getters.me.id" style="display: flex; justify-content: flex-end; align-items: center;">
                            <span>
                                {{ im.content }}
                                <br/>
                                <small style="font-style: italic; color: gray;">{{im.createdAt ? new Date(im.createdAt).toUTCString() : new Date().toUTCString()}}</small>
                            </span>
                            <span class="avatar">&#128100;</span>
                        </p>
                        
                        <!--selected User Message-->
                        <p v-else style="display: flex; justify-content: flex-start; align-items: center;">
                            <span class="avatar">&#128100;</span>
                            <span>
                                {{ im.content }}
                                <br/>
                                <small style="font-style: italic; color: gray;">{{im.createdAt ? new Date(im.createdAt).toUTCString() : new Date().toUTCString()}}</small>
                            </span>
                        </p>
                    </template>
                </div>
                <form @submit.prevent="sendMessage()" style="display: flex; border: 1px solid #ccc; border-radius: 20px; width: 100%; padding: 30px;margin-top: 10px; text-align: center;">
                    <input type="text" placeholder="Type your message here..." v-model="msg" style="width: 100%; max-height: fit-content; border: none; outline: none; padding: 5px; border-radius: 5px;"/>
                    <button style="margin-left: 10px;" :disabled="!msg">Send</button>
                </form>
            </section>
            
            <ul v-else style="list-style-type: none; padding: 0;">
                <input type="text" placeholder="Search user..." v-model="searchUserText" disabled/>
                <p v-if="loading">Loading....</p>
                <li v-for="u in users">
                    <div v-if="u.username !== $store.getters.me.username" :class="u.online ? 'user online' : 'user'" @click="selectedUser = u" style="display: flex; gap: 5px; padding: 15px; cursor: pointer; justify-content: space-between;">
                        <span>{{u.username}}</span>
                        <span style="font-weight: bolder;">{{u.unread}}</span>
                    </div>
                </li>
            </ul>
            
        </div>
    </template>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./vue-libs/vue-router/dist/vue-router.global.js"></script>
    <script src="./vue-libs/vuex/dist/vuex.global.js"></script>
    <script src="oauth2-util.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

    <script>
        const redirectURI = 'http://127.0.0.1:3000';
        const oauth2AuthServerURI = 'http://localhost:9000';
        const oauth2WebSocketResourceServerURI = 'http://localhost:8081';
        const { createApp, ref, onMounted, watch, onUpdated } = Vue
        
        //store
        const store = Vuex.createStore({
            state () {
                return {
                    isLoggedIn: false, 
                    me: { name: 'UNKNOWN'},
                }
            },
            mutations: {
                loggedIn (state) {
                    if(localStorage.getItem('access_token')) {
                        state.isLoggedIn = true;
                    }
                },
                logout (state) {
                    state.isLoggedIn = false
                },
                whoAmI (state) {
                    const accessToken = localStorage.getItem('access_token');
                    fetch(`${oauth2WebSocketResourceServerURI}/who-am-i`, {
                        method: 'GET',
                        headers: {'Authorization': `Bearer ${accessToken}`}
                    })
                        .then(response => {
                            if (!response.ok) {
                                if(response.status === 401) {
                                    localStorage.removeItem('access_token');
                                    state.isLoggedIn = false;
                                    router.push('/login');
                                    return;
                                }
                                throw new Error('Failed to obtain user info');
                            }
                            return response.json();
                        })
                        .then(data => state.me = data)
                        .catch(error => console.error('Error fetching user info:', error));
                },
                fetchAllUsers (state) {
                    fetch('https://jsonplaceholder.typicode.com/users')
                        .then(response => response.json())
                        .then(data => data.map(user => { return {...user, online: false, unread: 0, messages: []}}))
                        .then(data => state.users = data)
                        .catch(error => {
                            console.error('Error fetching users:', error);
                        });
                },
                setUserOnlineStatus (state, { userId, isOnline }) {
                    const user = state.users.find(user => user.id === userId);
                    if (user) {
                        user.online = isOnline;
                    }
                },
                setMessageUnreadCount (state, { userId, unreadCount }) {
                    const user = state.users.find(user => user.id === userId);
                    if (user) {
                        user.unread = unreadCount;
                    }
                }
            },
            getters: {
                isLoggedIn (state) {
                    return state.isLoggedIn
                },
                me (state) {
                    return {...state.me, id: Number(state.me.id)}
                },
                users (state) {
                    return state.users
                },
                usersByUsername(state) {
                    //like search
                    return (username) => {
                        return state.users.filter(user => user.username.toLowerCase().includes(username.toLowerCase()));
                    }
                }
            },
            actions: {
                login ({ commit }) {
                    commit('loggedIn')
                },
                logout ({ commit }) {
                    commit('logout')
                },
                whoAmI ({ commit }) {
                    commit('whoAmI')
                },
                allUser ({ commit }) {
                    commit('fetchAllUsers')
                },
                fetchUserOnlineStatus ({ commit }, userId) {
                    fetch(`${oauth2WebSocketResourceServerURI}/user-status/${userId}`, {
                        method: 'GET',
                        headers: { 'Authorization': `Bearer ${localStorage.getItem('access_token')}` }
                    })
                    .then(response => response.json())
                    .then(data => {
                        commit('setUserOnlineStatus', { userId, isOnline: data.isOnline });
                    })
                    .catch(error => console.error('Error fetching user online status:', error));
                },
                fetchMessageUnreadCount ({ commit }, userId) {
                    fetch(`${oauth2WebSocketResourceServerURI}/message/conversation/${userId}/unread`, {
                        method: 'GET',
                        headers: { 'Authorization': `Bearer ${localStorage.getItem('access_token')}` }
                    })
                    .then(response => response.json())
                    .then(data => {
                        commit('setMessageUnreadCount', { userId, unreadCount: data.count });
                    })
                    .catch(error => console.error('Error fetching unread message count:', error));
                }
            }

        })

        //Components
        const Chat = {
            setup() {
                const selectedUser = ref(null);
                const stompClient = ref(null);
                const e = ref(null);
                const msg = ref('');
                const instantMessage = ref(null);
                const searchUserText = ref('');
                const users = ref([]);
                const loading = ref(false);
                const flashMessages = ref([]);

                const setSelecedUser = (user) => {
                    selectedUser.value = user;
                }
                
                const websocket = () => {
                    const socket = new SockJS(`${oauth2WebSocketResourceServerURI}/stomp-endpoint`);
                    stompClient.value = Stomp.over(socket);
                    const accessToken = localStorage.getItem('access_token');
                    stompClient.value.connect({'Authorization': 'Bearer ' + accessToken}, (frame) => {
                        console.log("Connected: " + frame);
                        
                        stompClient.value.subscribe('/topic/public', (message) => {
                            console.log("PUBLIC MESSAGE:", message.body);
                            instantMessage.value = JSON.parse(message.body);
                        });

                        stompClient.value.subscribe('/user/queue/private', (message) => {
                            console.log("PRIVATE MESSAGE:", message.body);
                            instantMessage.value = JSON.parse(message.body);
                        });

                    }, (error) => {
                        console.error('Failed to connect:', error);
                    });

                    // Handle connection closure
                    socket.onclose = (event) => {
                        console.log(`Socket closed`, event);
                    };
                }
                
                const sendMessage = () => {
                    stompClient.value.send("/app/chat/private", {}, JSON.stringify({message: msg.value, to: selectedUser.value.username}));
                    msg.value = '';
                }

                onMounted(() => {
                    //check if user is logged in
                    store.dispatch('login');
                    //Check the authorization token is valid and who is it!
                    store.dispatch('whoAmI');
                    // fetch all users
                    store.dispatch('allUser');
                    loading.value = true;
                    
                    setInterval(() => {
                        users.value = store.getters.users
                        loading.value = false;
                    }, 1000);
                    
                    //connect to websocket
                    websocket();
                });

                const conversationsBetweenUsers = () => {
                    fetch(`${oauth2WebSocketResourceServerURI}/message/conversation/${selectedUser.value.id}`, {
                        method: 'GET',
                        headers: {'Authorization': `Bearer ${localStorage.getItem('access_token')}`}
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to obtain user info');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log("CONVERSATION:", data);
                            selectedUser.value.messages = data;
                        })
                        .catch(error => console.error('Error fetching user info:', error));
                }

                const conversationsUnreadCount = (targetUser) => {
                    fetch(`${oauth2WebSocketResourceServerURI}/message/conversation/${targetUser.id}/unread`, {
                        method: 'GET',
                        headers: {'Authorization': `Bearer ${localStorage.getItem('access_token')}`}
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to obtain user info');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(`CONVERSATION UNREAD COUNT: me and ${targetUser.id}`, data);
                            targetUser.unread = data.count;
                        })
                        .catch(error => console.error('Error fetching user info:', error));
                }

                watch(searchUserText, (newValue) => {
                    if (newValue) {
                        users.value = store.getters.usersByUsername(newValue);
                    } else {
                        users.value = store.getters.users;
                    }
                });

                watch(
                    () => users.value.size,
                    (userCount) => {
                        users.value.forEach(user => {
                            if (user.username !== store.getters.me.username) {
                                conversationsUnreadCount(user);
                            }
                        });
                    },
                    { deep: true, immediate: true }
                );

                watch(
                    () => instantMessage.value, 
                    (newValue) => {
                            console.log("INSTANT MESSAGE:", newValue);
                            if (newValue){
                                switch (newValue.event) {
                                    case 'CONNECT':
                                        console.log(`CONNECT:`, newValue);
                                        flashMessages.value.push(newValue);
                                        setTimeout(() => {
                                            flashMessages.value.shift();
                                        }, 5000);
                                        break;
                                    case 'DISCONNECT':
                                        console.log(`DISCONNECT:`, newValue);
                                        flashMessages.value.push(newValue);
                                        setTimeout(() => {
                                            flashMessages.value.shift();
                                        }, 5000);
                                        break;
                                    case 'MESSAGE_TO_ALL':
                                        console.log(`MESSAGE_TO_ALL:`, newValue);
                                        flashMessages.value.push(newValue);
                                        setTimeout(() => {
                                            flashMessages.value.shift();
                                        }, 5000);
                                        break;
                                    case 'MESSAGE_TO_USER':
                                        //If the newValue.payload.from == me.username then it is a message from me to the selected user
                                        console.log(`MESSAGE_TO_USER:`, newValue);
                                        if(selectedUser.value) {
                                            if (newValue.payload.from === store.getters.me.id && selectedUser.value.id === newValue.payload.to) {
                                                selectedUser.value.messages.push(newValue.payload);
                                            }
                                        }
                                        break;
                                    case 'MESSAGE_FROM_USER':
                                        console.log(`MESSAGE_FROM_USER:`, newValue);
                                        if(selectedUser.value) {
                                            if (newValue.payload.from === selectedUser.value.id ) {
                                                selectedUser.value.messages.push(newValue.payload);
                                            } else {
                                                flashMessages.value.push(newValue);
                                                
                                                const newUserMessage = users.value.find(user => user.id === newValue.payload.from);
                                                conversationsUnreadCount(newUserMessage);
                                                
                                                setTimeout(() => {
                                                    flashMessages.value.shift();
                                                }, 5000);
                                            }
                                        } else {
                                            flashMessages.value.push(newValue);
                                            
                                            const newUserMessage = users.value.find(user => user.id === newValue.payload.from);
                                            conversationsUnreadCount(newUserMessage);
                                            
                                            setTimeout(() => {
                                                flashMessages.value.shift();
                                            }, 5000);
                                        }
                                        break;
                                    default:
                                        console.log(`UNKNOWN MESSAGE:`, newValue);
                                        break;
                                }
                            }
                        },
                        { deep: true }
                    );

                watch(selectedUser, (newValue) => {
                    if (newValue) {
                        conversationsBetweenUsers();
                    }
                });

                return {
                    selectedUser, e, setSelecedUser, sendMessage, msg, instantMessage, searchUserText, users, loading, flashMessages
                };
            },
            template: '#chat-template' 
        }
        
        const Home = {
            setup() {
                const accessToken = localStorage.getItem('access_token');
                if (accessToken) {
                    store.dispatch('whoAmI');
                    store.dispatch('login');
                }
                
                const urlParams = new URLSearchParams(window.location.search);
                const code = urlParams.get('code');

                if (code) {
                    const pkace = JSON.parse(localStorage.getItem("pkace"));

                    const formData = new URLSearchParams();
                    formData.append('client_id', 'public-client');
                    formData.append('grant_type', 'authorization_code');
                    formData.append('code', code);
                    formData.append('code_challenge', pkace['codeChallenge']);
                    formData.append('code_verifier', pkace['codeVerifier']);
                    formData.append('code_challenge_method', 'S256');
                    formData.append('redirect_uri', redirectURI);

                    fetch(`${oauth2AuthServerURI}/oauth2/token`, {
                        method: 'POST',
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                        body: formData
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to obtain access token');
                            }
                            return response.json();
                        })
                        .then(data => {
                            const accessToken = data.access_token;
                            localStorage.setItem('access_token', accessToken);
                            store.dispatch('whoAmI');
                            store.dispatch('login');
                            setInterval(() => {
                                window.history.replaceState({}, document.title, "/");
                            }, 1500);
                            
                        })
                        .catch(error => console.error('Failed to obtain access token:', error)); 
                }

                return {};
            },
            template: `
                <p v-if="$store.state.isLoggedIn">
                    You are logged in as <strong>{{ $store.getters.me.username }}</strong> <br/>
                    <strong>Id::</strong> {{ $store.getters.me.id }}<br/>
                    <strong>Name::</strong> {{ $store.getters.me.name }}<br/>
                    <strong>Email::</strong> {{ $store.getters.me.email }}<br/>
                </p>
                <p v-else>
                    Please <router-link to="/login">Login</router-link> to do more    
                </p>
            `
        };
        const Login = {
            setup() {
                const message = ref('Chose one to Login With: ')
                const redirecting = ref(false);
                function oauth2Login() {
                    
                    fetch(`${oauth2AuthServerURI}/public/pkce`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to obtain access token');
                            }
                            return response.json();
                        })
                        .then(data => {
                            localStorage.setItem("pkace", JSON.stringify(data));
                            message.value = 'Redirecting to Spring oauth2 server, Please wait...';
                            redirecting.value = true;
                            // const url = new URL(`${oidcClient.authorizationServer}/oauth2/authorize`)
                            // url.searchParams.set('response_type', 'code')
                            // url.searchParams.set('client_id', oidcClient.clientId)
                            // url.searchParams.set('redirect_uri', oidcClient.redirectUri)
                            // url.searchParams.set('scope', oidcClient.scope)
                            // url.searchParams.set('code_challenge_method', 'S256')
                            // url.searchParams.set('code_challenge', codeChallenge)
                            setInterval(() => {
                                //url.toString()
                                window.location.replace(`${oauth2AuthServerURI}/oauth2/authorize?response_type=code&client_id=public-client&scope=profile&code_challenge=${data.codeChallenge}&code_challenge_method=S256&redirect_uri=${redirectURI}`);
                            }, 1000);
                            
                        })
                        .catch(error => {
                            localStorage.removeItem('pkace');
                            window.location.href = `${redirectURI}`
                        });
                }
                return {
                    message,redirecting,
                    oauth2Login
                }
            },
            template: `
                <div>
                    <p>{{ message }}</p>
                    <div v-if="!redirecting">
                        <p><button @click="oauth2Login">Spring oauth2</button></p>
                        <p><button>Google</button></p>
                        <p><button>Github</button></p>
                    </div>
                </div>
            `
        }

        const routes = [
            { path: '/', name: 'Home', component: Home },
            { path: '/chat', name: 'Chat', component: Chat },
            { path: '/login', name: 'Login', component: Login },
            { path: '/logout', name: 'Logout', component: {
                setup() {
                    localStorage.removeItem('access_token');
                    localStorage.removeItem('pkace');
                    store.dispatch('logout');
                    window.location.href = `${oauth2AuthServerURI}/logout`;
                }
            } }
        ]

        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes,
        })

        router.beforeEach(async (to, from) => {
            console.log('Navigating to:', to.name);
            const isAuthenticated = store.getters.isLoggedIn;
            console.log('isAuthenticated:', isAuthenticated);
            // if (to.name === 'Chat' && !isAuthenticated) {
            //     console.log('Redirecting to login page');
            //     return { name: 'Login' };
            // }
        })

        createApp({})
            .use(store)
            .use(router)
            .mount('#app')
    </script>
</body>
</html>
