<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oauth pkce</title>
    <style>
        body {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-top: 30px;
        }
        .user {
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 5px;
            margin: 5px 0;
        }
        .user:hover {
            background-color: #e0e0e0;
        }
        .user.selected {
            background-color: #d0d0ff;
        }
        span {
            margin-left: 10px;
        }
        span.avatar {
            background-color: #ccc;
            border-radius: 50%;
            padding: 5px;
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <h3>Login With</h3>
    <div id="app">
        <header style="display: flex; gap: 10px; justify-content: space-between;">
            <div style="display: flex; gap: 20px;">
                <router-link to="/">Home</router-link>
                <router-link to="/chat" v-if="$store.state.isLoggedIn">Chat</router-link>
            </div>
            <div>
                <router-link to="/logout" v-if="$store.state.isLoggedIn">Logout</router-link>
                <router-link to="/login" v-else>Login</router-link>
            </div>
        </header>
        <hr/>
        <router-view></router-view>
        <footer style="text-align: right;margin-top: 20px;">
            <hr/>
            <small>&#169; all right reserved!</small>
        </footer>
    </div>
    <template id="chat-template">
        <div>
            <p v-if="e" style="color: red;">{{ e }}</p>
            <section v-if="selectedUser">
                <div style="display: flex; flex-direction: column; background-color: lightgray; border-radius: 5px; padding: 5px;">
                    <h3>{{ selectedUser.username }}</h3>
                    <small>Email: {{ selectedUser.email }}</small><br/>
                    <small>Phone: {{ selectedUser.phone }}</small>
                    <p style="color: blue;" @click="selectedUser = null">back</p>
                </div>
                <hr/>
                
                <div style="display: flex; gap: 5px; flex-direction: column; text-align: center; border: 1px solid #ccc; border-radius: 25px; padding: 50px;">
                    <p style="text-align: right;">
                        <span>incoming message</span>
                        <span class="avatar">&#128100;</span>
                    </p>
                    <p style="text-align: left;">
                        <span class="avatar">&#128100;</span>
                        <span>message outcome</span>
                    </p>
                    <p style="text-align: left;"><span class="avatar">&#128100;</span><span>message outcome</span></p>
                    <p style="text-align: left;"><span class="avatar">&#128100;</span><span>message outcome</span></p>
                    <p style="text-align: right;"><span>incoming message</span><span class="avatar">&#128100;</span></p>
                    <p style="text-align: right;"><span>incoming message</span><span class="avatar">&#128100;</span></p>
                </div>
                <div style="display: flex; border: 1px solid #ccc; border-radius: 20px; width: 100%; padding: 30px;margin-top: 10px; text-align: center;">
                    <input type="text" placeholder="Type your message here..." style="width: 100%; max-height: fit-content; border: none; outline: none; padding: 5px; border-radius: 5px;"/>
                    <button style="margin-left: 10px;">Send</button>
                </div>
            </section>
            <ul v-else style="list-style-type: none; padding: 0;">
                <li v-for="u in users">
                    <p class="user" @click="selectedUser = u">{{u.username}}</p>
                </li>
            </ul>
            
        </div>
    </template>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://unpkg.com/vuex@4"></script>
    <script src="oauth2-util.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

    <script>
        const redirectURI = 'http://127.0.0.1:3000';
        const oauth2AuthServerURI = 'http://localhost:9000';
        const { createApp, ref, onMounted } = Vue
        
        //store
        const store = Vuex.createStore({
            state () {
                return {
                    isLoggedIn: false || localStorage.getItem('access_token') ? true : false
                }
            },
            mutations: {
                loggedIn (state) {
                    state.isLoggedIn = true
                },
                logout (state) {
                    state.isLoggedIn = false
                }
            }
        })

        //Components
        const Chat = {
            setup() {
                const users = ref([]);
                const selectedUser = ref(null);
                const whoAmI = ref(null);
                const stompClient = ref(null);
                const e = ref(null);
                
                const setSelecedUser = (user) => {
                    selectedUser.value = user;
                }
                
                const websocket = () => {
                    const socket = new SockJS('http://localhost:8081/stomp-endpoint');
                    stompClient.value = Stomp.over(socket);
                    const accessToken = localStorage.getItem('access_token');
                    stompClient.value.connect({'Authorization': 'Bearer ' + accessToken}, (frame) => {
                        console.log("Connected: " + frame);
                        
                        stompClient.value.subscribe('/topic/public', (message) => {
                            console.log("PUBLIC MESSAGE:", message.body);
                        });

                        stompClient.value.subscribe('/user/queue/private', (message) => {
                            console.log("PRIVATE MESSAGE:", message.body);
                        });

                        stompClient.value.send("/app/chat", {}, JSON.stringify({message: "Hello!", to: "ALL"}));
                        stompClient.value.send("/app/chat/private", {}, JSON.stringify({message: "Hej", to: "Bret"}));
                    }, (error) => {
                        console.error('Failed to connect:', error);
                    });

                    // Handle connection closure
                    socket.onclose = (event) => {
                        console.log(`Socket closed`, event);
                    };
                }

                const fetchUsers = () => {
                    fetch('https://jsonplaceholder.typicode.com/users')
                        .then(response => response.json())
                        .then(data => {
                            users.value = data;
                        })
                        .then(() => {
                            websocket();
                        })
                        .catch(error => {
                            e.value = error;
                            console.error('Error fetching users:', error);
                        });
                }
                
                onMounted(() => {
                    fetchUsers();
                });

                return {
                    users, selectedUser, whoAmI, e, setSelecedUser
                };
            },
            template: '#chat-template' 
        }
        const Home = {
            setup() {
                const accessToken = localStorage.getItem('access_token');
                if (accessToken) {
                    store.commit('loggedIn');
                }

                const loading = ref(false);
                const error = ref(null);
                
                const urlParams = new URLSearchParams(window.location.search);
                const code = urlParams.get('code');

                if (code) {
                    loading.value = true;
                    const pkace = JSON.parse(localStorage.getItem("pkace"));

                    const formData = new URLSearchParams();
                    formData.append('client_id', 'public-client');
                    formData.append('grant_type', 'authorization_code');
                    formData.append('code', code);
                    formData.append('code_challenge', pkace['codeChallenge']);
                    formData.append('code_verifier', pkace['codeVerifier']);
                    formData.append('code_challenge_method', 'S256');
                    formData.append('redirect_uri', redirectURI);

                    fetch(`${oauth2AuthServerURI}/oauth2/token`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: formData
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to obtain access token');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data);
                            const accessToken = data.access_token;
                            localStorage.setItem('access_token', accessToken);
                            
                            store.commit('loggedIn');
                            setInterval(() => {
                                loading.value = false;
                                window.history.replaceState({}, document.title, "/");
                                //router.push('/about')
                            }, 2000);
                            
                        })
                        .catch(error => {
                            error.value = error.message;
                            loading.value = false;
                            console.error('Failed to obtain access token:', error);
                        }); 
                }

                return {
                    loading,
                    error
                };
            },
            template: `
                <p v-if="$store.state.isLoggedIn">
                    You are logged in
                </p>
                <p v-else>
                    Please <router-link to="/login">Login</router-link> to do more    
                </p>
                <p v-if="loading">Logging in, Please wait... </p>
                <p v-if="error" style="color: red">{{ error }}</p>
            `
        };
        const Login = {
            setup() {
                const message = ref('Chose one to Login With: ')
                const redirecting = ref(false);
                function oauth2Login() {
                    
                    fetch(`${oauth2AuthServerURI}/public/pkce`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to obtain access token');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data);
                            localStorage.setItem("pkace", JSON.stringify(data));
                            message.value = 'Redirecting to Spring oauth2 server, Please wait...';
                            redirecting.value = true;
                            setInterval(() => {
                                window.location.replace(`${oauth2AuthServerURI}/oauth2/authorize?response_type=code&client_id=public-client&scope=profile&code_challenge=${data.codeChallenge}&code_challenge_method=S256&redirect_uri=${redirectURI}`);
                            }, 2000);
                            
                        })
                        .catch(error => {
                            localStorage.removeItem('pkace');
                            window.location.href = `${redirectURI}`
                        });
                }
                return {
                    message,redirecting,
                    oauth2Login
                }
            },
            template: `
                <div>
                    <p>{{ message }}</p>
                    <div v-if="!redirecting">
                        <p><button @click="oauth2Login">Spring oauth2</button></p>
                        <p><button>Google</button></p>
                        <p><button>Github</button></p>
                    </div>
                </div>
            `
        }

        const routes = [
            { path: '/', name: 'Home', component: Home },
            { path: '/chat', name: 'Chat', component: Chat },
            { path: '/login', name: 'Login', component: Login },
            { path: '/logout', name: 'Logout', component: {
                setup() {
                    localStorage.removeItem('access_token');
                    localStorage.removeItem('pkace');
                    store.commit('logout');
                    window.location.href = `${oauth2AuthServerURI}/logout`;
                }
            } }
        ]

        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes,
        })

        router.beforeEach(async (to, from) => {
            console.log('Navigating to:', to.name);
            const isAuthenticated = store.state.isLoggedIn;
            console.log('isAuthenticated:', isAuthenticated);
            // if (to.name === 'Chat' && !isAuthenticated) {
            //     console.log('Redirecting to login page');
            //     return { name: 'Login' };
            // }
        })

        createApp({})
            .use(store)
            .use(router)
            .mount('#app')
    </script>
</body>
</html>
