<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oauth pkce</title>
    <style>
        body {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h3>Login With</h3>
    <div id="app">
        <header style="display: flex; gap: 10px; justify-content: space-between;">
            <div style="display: flex; gap: 20px;">
                <router-link to="/">Home</router-link>
                <router-link to="/about" v-if="$store.state.isLoggedIn">About</router-link>
            </div>
            <div>
                <router-link to="/logout" v-if="$store.state.isLoggedIn">Logout</router-link>
                <router-link to="/login" v-else>Login</router-link>
            </div>
        </header>
        
        
        <hr/>
        <router-view></router-view>
        <hr/>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://unpkg.com/vuex@4"></script>
    <script src="oauth2-util.js"></script>

    <script>
        const redirectURI = 'http://127.0.0.1:3000';
        const oauth2AuthServerURI = 'http://localhost:9000';
        const { createApp, ref, onMounted } = Vue
        
        //store
        const store = Vuex.createStore({
            state () {
                return {
                    isLoggedIn: false
                }
            },
            mutations: {
                loggedIn (state) {
                    state.isLoggedIn = true
                },
                logout (state) {
                    state.isLoggedIn = false
                }
            }
        })

        //Components
        const About = { template: '<div>About</div>' }
        const Dashboard = { template: '<div>Dashboard</div>' }
        const Home = {
            setup() {
                const accessToken = localStorage.getItem('access_token');
                if (accessToken) {
                    store.commit('loggedIn');
                }

                const loading = ref(false);
                const error = ref(null);
                
                const urlParams = new URLSearchParams(window.location.search);
                const code = urlParams.get('code');

                if (code) {
                    loading.value = true;
                    const pkace = JSON.parse(localStorage.getItem("pkace"));

                    const formData = new URLSearchParams();
                    formData.append('client_id', 'public-client');
                    formData.append('grant_type', 'authorization_code');
                    formData.append('code', code);
                    formData.append('code_challenge', pkace['codeChallenge']);
                    formData.append('code_verifier', pkace['codeVerifier']);
                    formData.append('code_challenge_method', 'S256');
                    formData.append('redirect_uri', redirectURI);

                    fetch(`${oauth2AuthServerURI}/oauth2/token`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: formData
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to obtain access token');
                            }
                            return response.json();
                        })
                        .then(data => {
                            const accessToken = data.access_token;
                            localStorage.setItem('access_token', accessToken);
                            
                            store.commit('loggedIn');
                            setInterval(() => {
                                loading.value = false;
                                window.history.replaceState({}, document.title, "/");
                                //router.push('/about')
                            }, 2000);
                            
                        })
                        .catch(error => {
                            error.value = error.message;
                            loading.value = false;
                            console.error('Failed to obtain access token:', error);
                        });

                    
                }

                return {
                    loading,
                    error
                };
            },
            template: `
                <p v-if="$store.state.isLoggedIn">
                    You are logged in
                </p>
                <p v-else>
                    Please <router-link to="/login">Login</router-link> to do more    
                </p>
                <p v-if="loading">Logging in, Please wait... </p>
                <p v-if="error" style="color: red">{{ error }}</p>
            `
        };
        const Login = {
            setup() {
                const message = ref('Chose one to Login With: ')
                const redirecting = ref(false);
                function oauth2Login() {
                    //const codeVerifier = generateCodeVerifier();
                    // generateCodeChallengeFromVerifier(codeVerifier)
                    //     .then(codeChallenge => {
                    //         localStorage.setItem("pkace", JSON.stringify({ codeVerifier, codeChallenge }));
                    //         window.location.href = `${oauth2AuthServerURI}/oauth2/authorize?response_type=code&client_id=public-client&scope=profile&code_challenge=${codeChallenge}&code_challenge_method=S256&code_verifier=${codeVerifier}&redirect_uri=${redirectURI}`;
                    //     })
                    
                    fetch(`${oauth2AuthServerURI}/public/pkce`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to obtain access token');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data);
                            localStorage.setItem("pkace", JSON.stringify(data));
                            message.value = 'Redirecting to Spring oauth2 server, Please wait...';
                            redirecting.value = true;
                            setInterval(() => {
                                window.location.replace(`${oauth2AuthServerURI}/oauth2/authorize?response_type=code&client_id=public-client&scope=profile&code_challenge=${data.codeChallenge}&code_challenge_method=S256&code_verifier=${data.codeVerifier}&redirect_uri=${redirectURI}`);
                            }, 2000);
                            
                        })
                        .catch(error => {
                            localStorage.removeItem('pkace');
                            window.location.href = `${redirectURI}`
                        });
                }
                return {
                    message,redirecting,
                    oauth2Login
                }
            },
            template: `
                <div>
                    <p>{{ message }}</p>
                    <div v-if="!redirecting">
                        <p><button @click="oauth2Login">Spring oauth2</button></p>
                        <p><button>Google</button></p>
                        <p><button>Github</button></p>
                    </div>
                </div>
            `
        }

        const routes = [
            { path: '/', component: Home },
            { path: '/about', component: About },
            { path: '/login', component: Login },
            { path: '/logout', component: {
                setup() {
                    localStorage.removeItem('access_token');
                    localStorage.removeItem('pkace');
                    store.commit('logout');
                    window.location.href = `${oauth2AuthServerURI}/logout`;
                }
            } }
        ]

        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes,
        })

        createApp({}).use(store).use(router).mount('#app')
    </script>
</body>
</html>
